html {
  scroll-behavior: smooth;
}

:root {
  --scolor: #1a63b6;
  --color: #1e57d7;
  --color: #729fcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  font-family: "source sans pro";
  color: #fff;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100vw;
  /* background: linear-gradient(to right, #1a63b6, #3888e3); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em 120px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.nav-color {
  /* background: linear-gradient(45deg, #f5497e, #793376); */
  background-color: royalblue;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--color);
}

article {
  padding: 0px 7em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

article .article-title {
  margin-bottom: 50px;
  font-size: 64px;
  width: max-content;
  background: linear-gradient(45deg, #f5497e, #793376);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about {
  /* height: 90vh; */
  background: linear-gradient(#7b3158, #221031);
  background: linear-gradient(45deg, #d03ae7, #228294);
  background: linear-gradient(45deg, #f5497e, #793376);
}

#about h1 {
  font-size: 100px;
  color: #fff;
}

#about .diff {
  color: var(--color);
}

#about .bio {
  margin-top: 20px;
  list-style: none;
  color: #fff;
  font-size: 32px;
}

#about .bio li {
  display: inline-block;
}

#about .bio li a {
  text-decoration: none;
  color: var(--color);
}

#about .bio li:nth-child(1)::after,
#about .bio li:nth-child(2)::after {
  content: "  ·  ";
}

article .card {
  font-size: 24px;
  margin-bottom: 50px;
  position: relative;
}

article .card h3 {
  font-weight: lighter;
}

article .card-date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: var(--color);
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* responsive */

@media screen and (max-width: 768px) {
  /* munculkan hamburger menu */
  .menu-toggle {
    display: flex;
  }

  nav {
    padding: 1em 120px;
  }

  nav ul {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #1a63b6, #3888e3);
    width: 100%;
    padding: 50px 0 25px;
    height: 40vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    z-index: -1;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  article .card-date {
    position: static;
  }
}

@media screen and (max-width: 576px) {
  /* munculkan hamburger menu */
  .menu-toggle {
    display: flex;
  }

  article {
    padding: 0 2em;
  }

  article .article-title {
    font-size: 48px;
  }

  #about .bio {
    font-size: 16px;
  }

  #about h1 {
    font-size: 48px;
  }

  nav {
    padding: 1em 2em;
  }

  nav ul {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #1a63b6, #3888e3);
    width: 100%;
    padding: 50px 0 25px;
    height: 40vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    z-index: -1;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}
